.top_header{
    background-color: #222;
    height: 40px;
}
.th_left{
    float: left;
    width: 50%;
}
.th_left p{
    color: #b2b2b2;
    line-height: 40px;
    font-size: 13px;
    margin: 0;
}
.th_right{
    float: right;
    width: 50%;
    text-align: right;
}
.optionmenu{
height: 100%;
}
.optionmenu a {
    font-size: 12px;
    line-height: 38px;
    height: 100%;
    padding: 15px 27px;
    color: #b2b2b2;
    transition: .4s;
    border-right: 1px solid rgba(255,255,255,0.3);
}
.main_header{
    background-color: #dee0e3;
    line-height: 50px;
}
.logo{
    width: 25%;
    float: left;
}
.logo a{
    margin: 0;
    line-height: 0;
    text-decoration: none;
    font-family: 'poppinsbold';
    letter-spacing: 3.5px;
    font-size: 19px;
}
.menu{
    width: 75%;
    float: right;
}
.menu ul{
    list-style: none;
    margin: 0;
}
.menu ul li{
    display: inline;
}
.menu ul li a{
    text-decoration: none;
    padding: 0px 10px;
    color: #333;
    transition: .4s;
}
.menu ul li a:hover , .th_right a:hover{
    color: #6c7ae0;
}