.card_section{
  text-align: center;
  padding: 40px 0px;
}
.card{
  width: 30%;
  margin: 10px;
  display: inline-block;
  position: relative;
  transition: .4s;
  box-shadow: 0px 0px 9px rgba(0,0,0,0.5)
}
.card_body:hover {
  background-color: rgba(103,117,214,0.8);
  color: #fff;
}
.card_body{
  position: absolute;
  top: 0;
  padding: 20px 33px;
  text-align: left;
  transition: .4s;
  height: 100%;
  width: 100%;
}
.card_body h5{
  font-family: 'poppinsbold';
  font-size: 28px;
  line-height: 1.1;
}
.card_body p{
  font-size: 14px;
  line-height: 1.7;
}
